:root {
  font-family: 'Roboto', sans-serif;
  --dark-bg: rgb(40, 37, 37);
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 15% 1fr 10%;
}

.header-box {
  background-color: var(--dark-bg);
  display: grid;
  place-items: center;
}

.header {
  display: flex;
}

img {
  height: 70px;
}

.title {
  color: white;
  font-size: 4rem;
  font-weight: 700;
}

.container {
  background-image: linear-gradient(rgb(94, 94, 224), rgb(54, 54, 141));
}

.box {
  margin: 40px auto;
  height: 70%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4px;
}

input {
  appearance: none;
  width: 45%;
  height: 2em;
  border: 0;
  outline: none;
  border-radius: 4px;
  padding-left: 8px;
  background-color: rgb(238, 233, 233);
  font-family: inherit;
  font-size: 1.1rem;
  box-sizing: border-box;
}

button {
  width: 20%;
  height: 2em;
  border: 0;
  padding: 0 6px;
  border-radius: 6px;
  background-color: black;
  color: white;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 500;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
  border: 2px solid white;
}

button:active {
  color: rgb(127, 119, 119);
}

.weather-data {
  width: 70%;
  height: 75%;
  border-radius: 12px;
  background-color: var(--dark-bg);
  color: rgb(234, 226, 226);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city {
  font-size: 3rem;
}

.temp {
  font-size: 2.4rem;
  font-weight: 700;
}

.bottom-data {
  margin-top: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.bottom-data div {
  font-size: 1.5rem;
  font-weight: 500;
}

.footer {
  background-color: var(--dark-bg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  margin-left: 24px;
  font-size: 16px;
}
