:root {
  font-family: 'Roboto', sans-serif;
  --dark-bg: rgb(40, 37, 37);
  --blue-bg: rgb(94, 94, 224);
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--blue-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  padding: 2rem;
  background-color: var(--dark-bg);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 25% 1fr 25%;
  align-items: center;
}

.title-box {
  grid-column: 2 / 3;
  display: flex;
  justify-self: center;
}

img {
  height: 70px;
}

.title {
  color: white;
  font-size: 4rem;
  font-weight: 700;
}

.switch {
  grid-column: 3 / 4;
  width: 130px;
  height: 36px;
  border-radius: 24px;
  background-color: var(--blue-bg);
}

.switch:hover {
  border: 2px solid rgb(218, 206, 206);
}

.switch:active {
  color: rgb(166, 163, 163);
}

.container {
  flex: 1;
}

.box {
  margin: 40px auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}

input,
button {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  border: 0;
  outline: none;
}

input {
  appearance: none;
  padding: 0.4rem;
  border-radius: 4px;
  background-color: rgb(238, 233, 233);
  font-size: 1.1rem;
}

button {
  padding: 0 0.4rem;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
}

form > button {
  width: 80px;
  height: 34px;
  border-radius: 6px;
  background-color: black;
}

button:hover {
  cursor: pointer;
}

form > button:hover {
  border: 2px solid white;
}

form > button:active {
  color: rgb(127, 119, 119);
}

.weather-data {
  padding: 1.6rem 4rem;
  border-radius: 12px;
  background-color: var(--dark-bg);
  color: rgb(234, 226, 226);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 5px;
  text-align: center;
}

.city {
  font-size: 2.8rem;
  margin: 1.6rem;
}

.temp {
  font-size: 2.4rem;
  font-weight: 700;
}

.bottom-data {
  margin-top: 2rem;
  line-height: 2;
}

.bottom-data div {
  font-size: 1.4rem;
  font-weight: 500;
}

.footer {
  padding: 1.4rem 0;
  background-color: var(--dark-bg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  margin-left: 2rem;
  font-size: 1rem;
}

.hidden {
  visibility: hidden;
}
